body,
html {
    height: 100%;
    margin: 0px;
    background-color: #2b2d42;
    font-family: Arial, Helvetica, sans-serif;
}

/* Nav bar styling */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #8d99ae;
    border-bottom: 2px solid #d80032;
}

nav h1 {
    color: black;
}

nav a {
    text-decoration: none;
    color: #edf2f4;
    font-weight: 700;
}

nav a:hover {
    color: #d80032;
}

/* Main Section Styling */
main {
    display: flex;
    flex-direction: row;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.main {
    background-color: #8d99ae;
    margin: 20px;
    border-radius: .5em;
    padding: 5px 20px;
    border: 2px solid #d80032;
}

/* Seccond Section Styling */
.section-two {
    background-color: #8d99ae;
    margin: 20px;
    border-radius: .5em;
    padding: 5px 20px;
    border: 2px solid #d80032;
}

.section-two-container p {
    text-align: center;
}

.album-image-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.album-image-links a {
    color: #2b2d42;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 20px;
}

.album-image-links a:hover {
    color: #d80032;
}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.album-image-links img {
    width: 231.6px;
    height: 308.8px;
    /* width: 50%; */
    border-radius: 5%;
}


/* Sidebar Styling */
.side {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.sidebar {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8d99ae;
    margin: 20px;
    border-radius: .5em;
    padding: 5px 20px;
    border: 2px solid #d80032;
}

#profile-details {
    text-align: center;
}

#profile-details ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.side-articles form {
    margin-top: 15px;
}

#profile-image {
    width: 50%;
    margin-top: 20px;
    border-radius: 0.5em;
    border: 2px solid #d80032;
}

/* Footer Styling */
footer {
    display: flex;
    flex-direction: row;
    ;
    justify-content: space-around;
    background-color: #8d99ae;
    border-top: 2px solid #d80032;
    padding: 10px 0;
    font-weight: 550;
}